<launch>
  <!--
  ik_solver - 'relaxed_ik'/'pyrep'
  ik_topic - Custom IK topic name used, if ik_solver is set to custom solver
  pyrep_control_type
  -->
  <node pkg="coppelia_sim_ros_interface" exec="coppelia_sim_ros_server.py">
    <param name="project_config/ik_solver" value="pyrep"/>
    <param name="project_config/ik_topic" value="" />
    <param name="/project_config/config_file_scene" value="scene_panda_gripper_cbgo.ttt" />
    <!-- if cameras in scene -->
    <param name="/coppelia/image_publish_freq" value="2" />
    <param name="/coppelia/object_publish_freq" value="2" />
  </node>
  <!--<group if="$(eval arg('ik_solver') == 'relaxed_ik')">
    <node pkg="relaxed_ik" type="relaxed_ik_node.py" name="relaxed_ik_node" output="screen"/>
  </group>-->

</launch>
